<div style="background-color:rgb(55,72,170);">   
  <div class="container" style="color:aliceblue;">
      <div class="col-md-12">        
        <div class="row">
          <div class="col-md-4" class="topmargin" >
              <h4 style="color:aliceblue">ROOST</h4> 
              <small> <p>  Material Design Real Estate </p> </small>
              <p> 404-M21 Pune Road, Modi Plaza </p>
              <h5>  +91 5542141125  </h5>
              <p> hello@codekul.com / info@codekul.com </p>
              <i class="fa fa-google" aria-hidden="true"></i>  &nbsp;
              <i class="fa fa-facebook" aria-hidden="true"></i>  &nbsp;
              <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
          <div class="col-md-4" class="topmargin" >
              <h5>Latest from our blog</h5>
              <hr>
              <h6> <strong>Aenean lacinia bibendum nulla sed</strong> </h6>
              <small> <p> On 2016/06/20 at 6:00 PM </p> </small>
    
              <h6> <strong>Aenean lacinia bibendum nulla sed</strong> </h6>
              <small> <p> On 2016/06/20 at 6:00 PM </p> </small>
    
              <h6> <strong>Aenean lacinia bibendum nulla sed</strong> </h6>
              <small> <p> On 2016/06/20 at 6:00 PM </p> </small>
          </div>
          <div class="col-md-4" style="padding: 25px;" >
              <h5>Disclaimer</h5>
              <hr>
              <h6> <small>No, the goal of ng-bootstrap is to completely replace JavaScript implementation
                for components. Nor should you include other dependencies like jQuery or popper.js.
                It is not necessary and might interfere with ng-bootstrap code. </small> </h6>
          </div>    
        </div>
      </div>
  </div>
  <div style="background-color:rgb(55,72,200);color:aliceblue;">
      <!-- <div class="row">
          <div class="col-md-2">
              &copy; Codekul Real Estate 
          </div>
          <div class="col-md-2">
              About Us 
          </div>
          <div class="col-md-2">
              Terms & Conditions 
          </div>
          <div class="col-md-2">
              Privacy Policy
          </div>
          <div class="col-md-2">
              Careers 
          </div>
          <div class="col-md-2">
              Agent Login
          </div>
      </div> -->

    </div>
</div>