<div class="card">
  <div class="card-title" style="margin-top:20px;">
      Recent Properties by Location <br>
      <small>Nunc urnami tempor eget ipsum eurutrum gravida tellus</small>
  </div>
  <div class="card-body">
      <mat-grid-list cols="2" rowHeight="2:1" class="CardImages">
          <mat-grid-tile>
                  <div class="item-thumb">
                          <a href="property-3.html" ><img src="assets/img/demo/property-3.jpg"></a>
                       </div>
          </mat-grid-tile>
          <mat-grid-tile>
                  <div class="item-thumb">
                          <a href="#" ><img src="assets/img/demo/property-2.jpg"></a>
                      </div>
          </mat-grid-tile>
          <mat-grid-tile>
                  <div class="item-thumb">
                          <a href="property-3.html" ><img src="assets/img/demo/property-3.jpg"></a>
                       </div>
          </mat-grid-tile>
          <mat-grid-tile>
                  <div class="item-thumb">
                          <a href="#" ><img src="assets/img/demo/property-2.jpg"></a>
                          
                       </div>
          </mat-grid-tile>
      </mat-grid-list>
  </div>
  <div class="card-footer text-muted" style="margin-bottom:10px;">
               <small> View all  location</small> &nbsp;
               <i class="fa fa-share fa" aria-hidden="true"></i>  
           </div>
</div>
   