<div class="card">
        <div class="card-title"  style="margin-top:20px;">
        Recent Properties for Sale <br>
        <small>Nunc urnami tempor eget ipsum eurutrum gravida tellus</small>
        </div>
        <div class="card-body">
                 <mat-grid-list cols="2" rowHeight="2:1" class="CardImages">
                        <mat-grid-tile>
                                <div class="item-thumb">
                                        <a href="#" ><img src="assets/img/demo/property-2.jpg"></a>
                                        <span class="pull-left"><b>Area :</b> 120m </span>
                                        <span class="proerty-price pull-right">$ 300,000</span>
                                </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <div class="item-thumb">
                                        <a href="property-3.html" ><img src="assets/img/demo/property-3.jpg"></a>
                                </div>                   
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <div class="item-thumb">
                                        <a href="#" ><img src="assets/img/demo/property-2.jpg"></a>
                                        </div>
                                        
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <div class="item-thumb">
                                        <a href="property-3.html" ><img src="assets/img/demo/property-3.jpg"></a>
                                        </div>
                                        
                        </mat-grid-tile> 
                 </mat-grid-list>
         </div> 
       
       <div class="card-footer text-muted" style="margin-bottom:10px;">
                <small>View all properties for sale</small> &nbsp;
                <i class="fa fa-share fa" aria-hidden="true"></i>
                 </div>
     </div>







