 <div class="bgclrblue">
 
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <app-searchbox class="tp"></app-searchbox>                  
      </div>
  </div>
</div>

<div class="container">
   <div class="col-md-12">
      <div class="row">
          <div class="col-sm-3 col-md-3">
              <div class="card card-body"  [routerLink]="['detailproperty']">
                  <div class="item-thumb">
                      <a><img src="assets/img/demo/property-1.jpg"></a>
                  </div>
                  <div class="item-entry overflow">
                      <h5><a > Supe1r nice villa </a></h5>
                
                      <span class="pull-left"><b>Area :</b> 120m </span>
                      <span class="proerty-price pull-right">$ 300,000</span>
                  </div>
              </div>
          </div>

          <div class="col-sm-3 col-md-3">
              <div class="card card-body" [routerLink]="['detailproperty']">
                  <div class="item-thumb">
                      <a ><img src="assets/img/demo/property-2.jpg"></a>
                  </div>
                  <div class="item-entry overflow">
                      <h5><a>Super2 nice villa </a></h5>
                       <span class="pull-left"><b>Area :</b> 120m </span>
                      <span class="proerty-price pull-right">$ 300,000</span>
                  </div>
              </div>
          </div>
          
          <div class="col-sm-3 col-md-3">
              <div class="card card-body" [routerLink]="['detailproperty']">
                  <div class="item-thumb">
                      <a><img src="assets/img/demo/property-3.jpg"></a>

                  </div>
                  <div class="item-entry overflow">
                      <h5><a>Super3 nice villa </a></h5>
                       <span class="pull-left"><b>Area :</b> 120m </span>
                      <span class="proerty-price pull-right">$ 300,000</span>
                  </div>
              </div>
          </div>

          <div class="col-sm-3 col-md-3">
              <div class="card card-body" [routerLink]="['detailproperty']">
                  <div class="item-thumb">
                      <a><img src="assets/img/demo/property-2.jpg"></a>
                   </div>
                  <div class="item-entry overflow">
                      <h5><a >Super4 nice villa </a></h5>
                       <span class="pull-left"><b>Area :</b> 120m </span>
                      <span class="proerty-price pull-right">$ 300,000</span>
                  </div>
              </div>
           </div>
       </div>
   </div>
</div>
 

<br>
</div>

 <div style="background-color:#f0f0f0;">
        <br>
        
    <div class="container">
        <div style="text-align:center">
                <strong> <h5>8,243 Properties for Sale, Rent & Real Estate </h5> </strong>  
                <small>Villas, Apartments, Office Spaces and Commercial Builsings</small>
        </div>
        <br>
             <div class="row" style="text-align:center;">
                <div class="col-md-6">
                    <property-for-sale></property-for-sale>               
                </div>
                <div class="col-md-6">
                    <property-for-rent></property-for-rent>                
                </div>
            </div>
        
        <br>
             <div class="row" style="text-align:center;">
                <div class="col-md-6">
                    <property-by-location></property-by-location>              
                </div>
                <div class="col-md-6">
                    <property-by-agent></property-by-agent>             
                </div>
            </div>
     </div>
     <br>
     <br>
     <br>
 </div>



